.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.add-todo-input {
  flex-grow: 1;
}

.todo-board {
  flex-grow: 3;
  height: 300px;
  width: 300px;
}
